body{
    height: 3000px;
    overflow-x: hidden;
    background: #492375;
    width: 100%;
    line-height: 1;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.navbar{
    transition: all 0.5s;
}
.navbar-scrolled{
    background-color: black;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
.navbar-brand{
    padding-left: 1cm;
}